﻿@model EduMark.Models.User
@{
    ViewData["Title"] = "Update Successfully.";
}


<div class="container" style="margin-top:100px;">
    
    <h2>Update Successful.</h2>
    <h3><a href="/teacher/main" />publish availability</h3>
</div>